<div class="container-xl ">
    <div class="block">
        <form>
            <h2>LOGIN FORM</h2>
            <input type="text" placeholder="Enter Name" name="username" class="log" required [(ngModel)]="Customer.username"/>
            <input type="text" placeholder="Enter Password" name="password" class="log" required [(ngModel)]="Customer.password"/>
            <div class="btns">
                <button class="btn btn-primary">Sign UP</button>
                <button type="submit"  (click)="getCustomerLogin()"class="btn btn-primary">Login </button>
            </div>
        </form>
    </div>
</div>

